nav.bd-links p.caption {
    /* Don't capitalize the part headings in the navigation bar */
    text-transform: none;
}

p.caption {
    font-weight: bold;
}

div.cell_output table {
    /* make tables smaller */
    font-size: 80%;
}
